:root {
  --color-black: #121212;
  --color-light-black: #1b1b1b;
  --color-white: #ffffff;
  --color-orange: #ff9b33;
  --color-dark-orange: #ff5c01;
  --color-yellow: #ffd25f;
  --color-grey: rgba(255, 255, 255, 0.5);
  --color-light-grey: #b2b2b2;
}
.page {
  &-container {
    height: 100vh;
    background: var(--color-black);
    color: var(--color-white);
    overflow: hidden;

    &__left {
      bottom: 0;
      background: var(--color-light-black);
    }

    &__center {
      padding: 54px 130px 87px;
      overflow-y: auto;
    }

    &__right {
      background: var(--color-light-black);
      overflow-y: auto;
    }

    @media only screen and (max-width: 1439px) {
      display: grid;
      grid-auto-flow: dense;
      grid-template-columns: 80px auto;

      &__right {
        display: none;
      }

      &__left {
        position: relative;
        background: var(--color-light-black);
      }
    }

    @media only screen and (min-width: 1440px) {
      display: grid;
      grid-auto-flow: dense;
      grid-template-columns: 80px auto 375px;
    }

    @media only screen and (max-width: 767px) {
      display: inherit;

      &__center {
        padding: 70px 20px 0;
        height: calc(100% - 70px - 66px);
      }

      &__left {
        position: fixed;
      }
    }
  }
}

::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--color-light-black);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color-grey);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--color-light-grey);
}
