.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 80px;
  height: 100vh;
  background: var(--color-light-black);

  a {
    color: inherit;
    text-decoration: inherit;
    color: var(--color-white);
  }

  &-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 36px;
  }

  &-logo {
    position: relative;
    margin-top: 37px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    background: -webkit-linear-gradient(
      0,
      var(--color-dark-orange),
      var(--color-yellow)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &-item {
    margin-bottom: 18px;
    font-size: 12px;

    &:last-child {
      margin-bottom: 0;
    }

    a {
      display: flex;
      flex-direction: column;
      align-items: center;

      img {
        width: 20px;
        height: 20px;
      }
    }
  }

  @media only screen and (max-width: 767px) {
    top: auto;
    bottom: 0;
    right: auto;
    width: 100vw;
    height: 66px;

    &-logo {
      position: fixed;
      top: 0;
      margin-top: 30px;
      left: 20px;
      font-size: 16px;
    }

    &-container {
      flex-direction: row;
      margin-top: 0;
      justify-content: center;
      height: 100%;
    }

    &-item {
      margin-bottom: 0;
      width: 25px;
      height: 25px;
      margin-right: 60px;

      &:last-child {
        margin-right: 0;
      }

      span {
        display: none;
      }
    }
  }
}
